*{
    margin: 0;
    max-width: 87.5em;
    margin: 0;  
    padding: 0;      
    font-family: 'Raleway', sans-serif; 
    font-style: normal;  
    box-sizing: border-box;
}
i{
    color: #0065FC;
}
/* //////////////////////////////Titres/////////////////////////////// */
 h1{
    font-weight: 700;
    font-size: 1.375em;
    line-height: 1.625em;
    width: 100%;
    height: 26px;
}
h2 {
    font-weight: 700;
    size: 22px;
    line-height: 26px;
}
h3 {
    width: 204px;
    height: 15px;
    font-weight: 700;
    font-size: 16px;
    margin-top: 4px;
    margin-bottom: 9px;
    line-height: 19px;
}


/* ////////////////////////////////Logo+menu///////////////////////// */
section {
    height: auto;
    margin-left: 55px;
    margin-right: 77px;
}
section .container{
    max-width: 1400px;
    margin: 0 auto;    
}
section .container header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
section .container .left {
    margin-top: 44px;   
    margin-bottom: 63px; 
}
section .container nav {
    display: flex;
    flex-direction: row;  
    height: 100%;        
}
section .container nav a {
    text-decoration: none;
    color: black;
    margin-left: 67px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;  
    margin-top: 48px ;  
}
section .container nav a:hover {
    color:#0065FC ;
    border-top: 2px solid #0065fc;   
}
/* ////////////////////////////////Searchbar////////////////////// */
.phrase1{
    margin-bottom: 8px;

}
.phrase2 {
    font-weight: 400;
    font-size: 16px;    
    margin-bottom: 20px;
    height: 19px;
    width: 296px;
}

.searchbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 46px;
}
.vector {
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    padding: 16px 18px;
}
/* #recherche {
    width: 236px;
    
} */
input{
    width: 236px;    
    height: 49px;
    border: #ffffff;    
}
::placeholder {
    color: black;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    padding:5px 20px;
}
button {
    width: 132px;
    height: 49px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 16px;
    gap: 10px;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    background: #0065FC;
    color: #ffffff;
    font-size: 18px;
}
/* ////////////////////////////////Filtres//////////////////////////// */
.filtres {    
    width: 914px;
    height: 50px;
    margin-bottom: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.boutonfiltres{
    display: flex;
    justify-content: space-around;
    
}
.filtres button {
    width: auto;
    background-color: #FFFFFF;
    border: 2px solid #D9D9D9;
    border-radius: 25px; 
    color: #0065FC;
    padding: 15px 32px;
    text-align: start; 
    font-size: 17px;     
}
.filtres h3 {
    margin: 0;
    width: 54px; 
    height: 21px;   
}
b {
    color: black;
}
/* ////////////////////////////////info///////////////////////////// */
.info{
    display: flex;
    align-items: center;
    margin-bottom: 37px;
}
.logoinfo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border: 1px solid #D9D9D9;
    border-radius:15px ;
    margin-right: 11px;
}
.logoinfo img{
    width: 4px;
    height: 10px;
}
/* ////////////////////////////////hebergements////////////////// */
.containerhebergement {
    background-color: #F2F2F2 ; 
    border-radius: 20px;
    width: 880px;
    height: 626px;  
    padding:  0;
    margin: 0;
}
.box {
    margin: 23px 40px 40px 40px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;   
    
}
.box1, .box2, .box3, .box4, .box5, .box6{      
    background: #ffffff;
    border-radius: 20px;
    height: 199px;
    width: 246px;
    margin-bottom: 30px;
    box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.2);
}
.box .photo {
    
}
.box .photo img {
    height: 114px;
    width: 236px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
}
.box h3 {
    margin-left: 16px;
}
.containerhebergement .box p {
    width: 204px;
    height: 15px;
    font-weight: 400;
    margin-left: 16px;
}
.box .stars{
    margin-top: 9px;
    margin-right: 2px;
    margin-left: 16px;
    display: flex;
    align-items: center;
}
.containerhebergement h2 {
    padding-left: 40px;    
    padding-top: 42px;
}
.plus {
    font-weight: 700;
    width: 107px;
    height: 21px;
    margin-left: 44px;
    margin-bottom: 46px;    
}
/* ////////////////////////Les plus populaires/////////////// */
.hebpop{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.populaires {
    background-color: #F2F2F2 ; 
    border-radius: 20px;
    width: 420px;
    height: 625px;  
    padding:  0;
    margin-right: 50px;    
}
.populaires h2{
    margin: 41px 96px 0px 37px;
}
.boxpop {    
    display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 26px 40px 34px 37px;
}
.boxpop1, .boxpop2, .boxpop3 {
    width: 343px;
    height: 144px;
    margin-bottom: 33px;
    border-radius: 20px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.2);
    display: flex;
	flex-direction: row;

}
.populaires .boxpop img {
    height: 144px;
    width: 137px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 0px 0px 20px;
}
.rightpics{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.stars{
    color: #0065FC;
    display: flex;

}
.starwhite {
    color: #f2f2f2;
}
.titre-logo {
    display: flex;
    align-items: center
}
.titre-logo i {
    margin-top: 44px;
    margin-right: 42px;
}
/* /////////////////////Activités/////////////////// */
#activités h2 {
    margin-top: 60px;
    margin-bottom: 18.5px;
}
.blocactivités {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 61px;
}
.bloc1, .bloc2, .bloc3, .bloc4 {
    height: 445px;
    width: 302px;
    margin: 0;
    border-radius: 20px;
    box-shadow: 0px 4px 8px -2px rgba(0,0,0,0.4);

}
.blocactivités img {
    height: 389px;
    width: 302px;
    border-radius: 20px 20px 0px 0px;
}
.blocactivités h3 {
    width: 247px;
    height: 15px;
    margin: 20px 36px 21px 19px;
}
/* ////////////////////Footer//////////////////////// */
.footer {
    margin-left: 48px;
    width: 1339px;
    height: 225px;    
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2;
    
}
.footer ul{
    list-style-type: none;  
    padding: 0;
    margin-left: 70px;      
}
.ul3{
    margin-right: 327px ;
}
.footer ul li{
    margin-bottom: 12px;
}
.footer a {
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 16px;
}
.footer ul h4 {
    margin-top: 45px;
    margin-bottom: 20px;
}